html{
    width: 100%;
    height: 100%;
}

html body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#light-bar{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

#light-bar #heading-container{
    height: 100px;
    overflow: hidden;
}

#light-bar #heading{    
    transform: rotate(0deg);
    padding-top: 100%;
}

#light-bar #heading:before{
    content: "";
    border: 1em solid black;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#light-bar #heading #heading-indicator{
    margin: auto;
    position: absolute;
    width: 0.5em;
    left: 50%;
    top: 0;
}

#light-bar #heading #heading-indicator:before{
    content: "";
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
    width: 1em;
    height: 1em;
    display: block;
    position: absolute;
    left: -100%;
    box-sizing: border-box;
}

#light-bar #position-offset{
    background-color: #575757;
    border: 1px solid black;
}

#light-bar #position-offset:before{
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    margin: auto;
}

#zoom-controls{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}